<p id="notice"><%= notice %></p>

<h1>Messages</h1>

<table>
  <thead>
    <tr>
      <th>Created at</th>
      <th>Content</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody id="messages_list">
    <% @messages.each do |m| %>
      <%= render partial: "messages/message_row", locals: {message: m} %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message', new_message_path %>
