<p id="notice"><%= notice %></p>

<p>
  <strong>Raw content:</strong>
  <%= @message.raw_content %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @message.created_at %>
</p>


<%= link_to 'Back', messages_path %>
