/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#messages_list tr{
  -webkit-transition: background-color 500ms ease-out;
  -moz-transition: background-color 500ms ease-out;
  -o-transition: background-color 500ms ease-out;
  transition: background-color 500ms ease-out;
}

#messages_list tr.new{
  -webkit-transition: background-color 10ms ease-out;
  -moz-transition: background-color 10ms ease-out;
  -o-transition: background-color 10ms ease-out ;
  transition: background-color 10ms ease-out;
  background-color: #ffff66
}

#event-index{
  width:95%;
  margin:auto;
}

table.error-table {
  width:100%;
}

tr.event-row td {
  border-top: solid;
}

tr.error-row {
  background-color: #f3f3f3
}